<!-- <div class="socialContainer">

<a type="button" mdbBtn floating="true" size="lg" color="fb" class="waves-light" mdbWavesEffect><mdb-icon fab icon="facebook-f"></mdb-icon></a>


<a type="button" mdbBtn floating="true" size="lg" color="tw" class="waves-light" mdbWavesEffect><mdb-icon fab icon="twitter"></mdb-icon></a>

<a type="button" mdbBtn floating="true" size="lg" color="gplus" class=" waves-light" mdbWavesEffect><mdb-icon fab icon="google-plus"></mdb-icon></a>

<a type="button" mdbBtn floating="true" size="lg" color="li" class=" waves-light" mdbWavesEffect><mdb-icon fab icon="linkedin-in"></mdb-icon></a>


<a type="button" mdbBtn floating="true" size="lg" color="ins" class="  waves-light" mdbWavesEffect><mdb-icon fab icon="instagram"></mdb-icon></a>


<a type="button" mdbBtn floating="true" size="lg" color="pin" class="  waves-light" mdbWavesEffect><mdb-icon fab icon="pinterest"></mdb-icon></a>

<a type="button" mdbBtn floating="true" size="lg" color="yt" class="  waves-light" mdbWavesEffect><mdb-icon fab icon="youtube"></mdb-icon></a>



<a type="button" mdbBtn floating="true" size="lg" color="so" class="  waves-light" mdbWavesEffect><mdb-icon fab icon="stack-overflow"></mdb-icon></a>


<a type="button" mdbBtn floating="true" size="lg" color="git" class="  waves-light" mdbWavesEffect><mdb-icon fab icon="github"></mdb-icon></a>


<a type="button" mdbBtn floating="true" size="lg" color="email" class="  waves-light" mdbWavesEffect><mdb-icon fas icon="envelope"></mdb-icon></a>
Small button
</div> -->