
img{
    max-width: 60px;
    max-height: 60px;
    padding-right: 10px;
    // background-color: red;
    // padding-left: 10px;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }

.example-spacer {
    flex: 1 1 auto;
  }

button {
    background-color: #8f52e0;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


mat-toolbar {
    min-height: 80px;
    background-color: #8f52e0;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

