
img{
    max-width: 50px;
    max-height: 50px;
    padding-right: 10px;
    // background-color: red;
    // padding-left: 10px;
}

.example-spacer {
    flex: 1 1 auto;
  }

button {
    // background-color: #8f52e0;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


mat-toolbar {
    // min-height: 80px;
    // background-color: #8f52e0;
    // font-size: large;
    // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}